<header>
  <a href="../heroisEFilmes/" >Voltar</a>
</header>

<section class="container">
  <form class="formulario" (ngSubmit)="novoHeroisEFilmesCadastrado()">
    <h2 class="formulario_titulo">Herói e o Filme</h2>

    <div class="form-field">
      <label class="form-field_label" for="idHeroi">Herói</label>
      <input class="form-field_input" id="idHeroi" type="text"
       [(ngModel)]="idHeroi" name="idHeroi" autocomplete="off" required>
    </div>

    <div class="form-field">
      <label class="form-field_label" for="idFilme">Filme</label>
      <input class="form-field_input" id="idFilme" type="text"
       [(ngModel)]="idFilme" name="idFilme" autocomplete="off" required>
    </div>

    <div class="botao-wrapper">
      <button class="botao" type="submit">Cadastrar</button>
    </div>
  </form>
</section>
