header {
  background-color: var(--primary);
  padding: 10px;
  color: white;
  display: flex;
  // justify-content: space-between;

  a {
    color: inherit;
    text-decoration: none;
    margin-left: 20px;
  }

  .ativo {
    display: none;
  }
}

.titulo {
  text-align: center;
  font-size: 24px;
  margin: 16px 0px 16px 0px;
}

.tabela {
  text-align: center;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);

  &__cabecalho {
    color: var(--primary);

    &__conteudo {
      padding: 10px;
      border-bottom: 2px solid #B73F47;
    }
  }

  &__linha {
    margin-bottom: 10px;
    border-radius: 4px;

    &:last-child {
      .tabela__conteudo {
        border-bottom: none;
      }
    }
  }

  &__conteudo {
    padding: 10px;
    border-bottom: 1px solid var(--cinza-claro);
  }

  button {
    padding: 2px;
    margin: 5px;
    border-radius: 5px;
  }
}
